<h1>Register Form</h1>
<%= form_for( :post , remote: false) do |f| %>
<div class="mb-3">
    <%= f.label :username, "Username" %>
    <%= f.text_field(:username, {:class => "form-control"}) %>
</div>
<div class="mb-3">
    <%= f.label :password, "Password" %>
    <%= f.password_field :password, :class => "form-control" %>
</div>
<%= f.submit "Submit", disable_with: 'Submiting...', :class => "btn btn-primary" %>
<% end %>